body{
    font-family: 'Alkatra', cursive;

}

p{
    color: rgb(125, 231, 255);    
    font-weight: 900;
}

span{
    color: #ffffff;
    line-height: 200%;
    font-style: italic;
    text-shadow: 13px 23px 51px #ff0000;
}
